<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>File Details</h1>

<a class="nav-link" id="home" href="/homePage">Home </a>

<br><br>
    <table id="fileDetails">
      <tr>
        <th>File Number</th>
        <th>Topic</th>
        <th>Date of Creation by Clerk</th>
        <th>Date of Modification by Section Officer</th>
        <th>Date of Modification by Administrative Assistant</th>
        <th>Date of Modification by Secretary</th>
        <th>Status of Govt.Order</th>
      </tr>
      {{#listings}}
      <tr class="">
        <td>{{fileNum}}</td>
        <td>{{topic}}</td>
        <td>{{doc}}</td>
        <td>{{dom}}</td>
        <td>{{dom2}}</td>
        <td>{{dom3}}</td>
        <td>{{status}}</td>
      </tr>
      {{/listings}}
    </table>